.product-card-custom {
    background: rgba(255, 255, 255, 0.10);
}

.product-card-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--bs-tertiary);
}

.product-card-details {
    font-size: 0.95rem;
    color: var(--bs-gray);
}

.product-card-prices {
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--bs-tertiary);
}

.product-card-oldprice {
    text-decoration: line-through;
}

@media (min-width:1200px) {
    .product-card-title {
        font-size: 2rem;
    }

    .product-card-details {
        font-size: 1.25rem;
    }

    .product-card-prices {
        font-size: 1.35rem;
    }
}