.title-category {
    font-size: 1rem;
    padding-bottom: 0.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    position: relative;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    font-weight: 800;
}

.title-underline {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 3px;
}

.section-description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #f0f0f0;
    margin-bottom: 2rem;
}

.section-image img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}